.top
{
    width: 100%; 
    float: left; 
    margin-bottom: 30px;
    display: flex;
}

.divTop1
{
    width: 15%;
    float: left;
}
.divTop2
{
    width: 15%;
    float: left;
}

.logo
{
    width: 10%;
}